.Header {
  font-size: 2rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 100px repeat(5, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .btn-link,
  .btn-link:active {
    color: black;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 0;
    border-bottom: 2px solid transparent;
  }

  .btn-link:hover {
    font-size: 2rem;
    text-decoration: none;
    color: #777;
    border-bottom: 2px solid #777;
    border-radius: 0;
  }

  .left {
    grid-column: 1 / span 5;
    float: right;
    justify-content: flex-end;
  }

  .right {
    grid-column: 7 / span 9;
  }

  .logo {
    -ms-grid-column-span: 1;
    -ms-grid-column: 6;
    grid-column: 6 / span 1;
    margin: 0;
    line-height: 0;
    justify-self: center;
  }
}
